/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black; 
   /* position: fixed;*/
}

.logo {
    font-size: 24px;
    font-weight: bold;
  }

.logo img {
    width: 10%;
    height: 20%;
}
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }


  .music_1{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size:100%;
    background-image: url(./../images/landing.jpg);
  
  }

  .contenedor {
    display: flex;
    flex-direction:row;
    justify-content: center;
    place-items: center;
    height: 100%;
    align-items: center;
  }
  
  .bloque {
    display:grid;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
    width: 30%;
    height: 250px;
    background-color:white;
  }

  .bloque img {
    max-width: 50%;
    max-height: 50%;
    margin-left: 35%;
  }

  .bloque img,h2{
    color:rgb(55, 248, 174) ;
  }

  .bloque img,p{
    color:rgb(85, 91, 89) ;
  }



  .contenedor-principal {
    display: flex;
    justify-content: center; /* Centra todo el contenido horizontalmente */
    align-items: center; /* Centra todo el contenido verticalmente */
    background-color:rgb(19, 192, 94) ;
    color: #fff;
    margin: 1%;
    height:70vh;
    }
  
  .contenedor-izquierda {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1; /* El contenedor ocupa todo el espacio sobrante */
  }
  .contenedor-izquierda h1{
    border-bottom: 1px solid rgb(255, 255, 255);
    width:60%;
  }
  
  .contenedor-derecha {
    flex: 1; /* El contenedor ocupa todo el espacio sobrante */
  }

  .contenedor-derecha img {
    width:45%;
    margin-left:30%;
  }
  
  .contenedor-imagen {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    margin-top: 95%;

  }

  .contenedor-imagen img{
    width: 10%;
  }
  